Repository iilei/terraform-provider-idgen: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-test, tfplugindocs

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:


  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 11ea70506fd878d26129b2b87746fd1a1f6b561b  # frozen: 3.6.0
    hooks:
      - id: editorconfig-checker
        alias: ec
        exclude: '\.go$'  # Go formatting is handled by gofmt and editorconfig-checker yields false positives

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: mixed-line-ending
        args: ['--fix=lf']

  - repo: https://github.com/golangci/golangci-lint
    rev: 9f61b0f53f80672872fced07b6874397c3ed197b  # frozen: v2.7.2
    hooks:
      - id: golangci-lint
        args: [--fix, --timeout=5m]

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'output=$(go fmt ./...); if [ -n "$output" ]; then echo "Files not formatted:"; echo "$output"; exit 1; fi'
        language: system
        types: [go]
        pass_filenames: false

      - id: go-vet
        name: go vet
        entry: bash -c 'go vet ./... || exit 0'
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: go test
        entry: go test -short ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: tfplugindocs
        name: terraform-plugin-docs generate
        entry: bash -c '$(go env GOBIN)/tfplugindocs generate --provider-name idgen'
        language: system
        pass_filenames: false
        files: '(internal/provider/.*\.go|examples/.*|templates/.*)'

feat: group size param
  docs/data-sources/nanoid.md
  docs/data-sources/proquint.md
  internal/provider/helpers.go
  internal/provider/helpers_test.go
  internal/provider/nanoid_data_source.go
  internal/provider/nanoid_data_source_test.go
  internal/provider/proquint_data_source.go
  internal/provider/proquint_data_source_test.go
Due: go-fmt, go-vet, go-test, tfplugindocs

docs: minor readme fix
  README.rst
Due: none

docs: fix comment
  README.rst
Due: none

docs: Update feature descriptions with links for Proquint and NanoID
  README.rst
Due: none

docs: correct statement on alphabets
  README.rst
Due: none

docs: rst-conformant links
  README.rst
Due: none

feat!: add idgen_proquint / idgen_proquint_canonical
  .gitignore
  README.rst
  docs/data-sources/nanoid.md
  docs/data-sources/proquint.md
  docs/data-sources/proquint_canonical.md
  internal/idgen/proquint.go
  internal/idgen/proquint_test.go
  internal/provider/constants.go
  internal/provider/helpers.go
  internal/provider/helpers_test.go
  internal/provider/nanoid_data_source.go
  internal/provider/nanoid_data_source_test.go
  internal/provider/proquint_canonical_data_source.go
  internal/provider/proquint_canonical_data_source_test.go
  internal/provider/proquint_data_source.go
  internal/provider/proquint_data_source_test.go
  internal/provider/provider.go
  test-provider.sh
Due: go-fmt, go-vet, go-test, tfplugindocs

feat: add random word picker
  .pre-commit-config.yaml
  docs/data-sources/random_word.md
  internal/data/five_letter_words.txt
  internal/data/word_list.go
  internal/idgen/random_word.go
  internal/idgen/random_word_test.go
  internal/idgen/seed.go
  internal/provider/helpers.go
  internal/provider/provider.go
  internal/provider/random_word_data_source.go
  internal/provider/random_word_data_source_test.go
Due: go-fmt, go-vet, go-test, tfplugindocs

feat: add template based id generation
  .pre-commit-config.yaml
  docs/data-sources/templated.md
  internal/provider/templated_data_source.go
  internal/provider/templated_data_source_string_functions_docs.md
  internal/provider/templated_data_source_test.go
Due: go-fmt, go-vet, go-test, tfplugindocs

docs: document usage of 'random_word`
  README.rst
Due: none

feat: add template based id generation
  .pre-commit-config.yaml
  docs/data-sources/nanoid.md
  docs/data-sources/proquint_canonical.md
  docs/data-sources/templated.md
  internal/data/five_letter_words.txt
  internal/data/word_list.go
  internal/idgen/nanoid.go
  internal/provider/docs_embeds/templated_data_source.md
  internal/provider/helpers.go
  internal/provider/helpers_test.go
  internal/provider/nanoid_data_source.go
  internal/provider/nanoid_data_source_test.go
  internal/provider/proquint_canonical_data_source.go
  internal/provider/proquint_canonical_data_source_test.go
  internal/provider/proquint_data_source.go
  internal/provider/templated_data_source.go
  internal/provider/templated_data_source_test.go
  test-provider.sh
Due: go-fmt, go-vet, go-test, tfplugindocs

feat!: remove exotic alphabets
  docs/data-sources/templated.md
  internal/idgen/nanoid.go
  internal/provider/docs_embeds/templated_data_source.md
  internal/provider/nanoid_data_source.go
  internal/provider/nanoid_data_source_test.go
  internal/provider/templated_data_source.go
Due: go-fmt, go-vet, go-test, tfplugindocs

docs: correct docs on random proquint
  README.rst
  internal/provider/proquint_canonical_data_source_test.go
  internal/provider/templated_data_source_test.go
  test-run/.terraformrc
  test-run/main.tf
  test-run/terraform.tfstate.backup
  test-run2/.terraformrc
  test-run2/main.tf
Due: go-fmt, go-vet, go-test, tfplugindocs

chore: cleanup
  test-run/.terraformrc
  test-run/main.tf
  test-run/terraform.tfstate.backup
  test-run2/.terraformrc
  test-run2/main.tf
Due: none

chore: add test-run* to .gitignore
  .gitignore
Due: none

feat!: add prepend / append functions, change defaults
  docs/data-sources/random_word.md
  docs/data-sources/templated.md
  internal/data/five_letter_words.txt
  internal/idgen/nanoid.go
  internal/provider/random_word_data_source.go
  internal/provider/templated_data_source.go
  internal/provider/templated_data_source_test.go
  test-provider.sh
Due: go-fmt, go-vet, go-test, tfplugindocs

docs: improve docs
  README.rst
  docs/data-sources/random_word.md
  docs/data-sources/templated.md
  examples/templated-parametrization/README.md
  examples/templated-parametrization/main.tf
  examples/templated-parametrization/variables.tf
  internal/provider/docs_embeds/templated_data_source.md
  internal/provider/random_word_data_source.go
  test-provider.sh
Due: go-fmt, go-vet, go-test, tfplugindocs

docs: review readme
  README.rst
Due: none

ci: detect -pre* releases
  .github/workflows/release.yml
Due: none

chore: add code-cov badge
  README.rst
Due: none

docs: revisit readme
  README.rst
Due: none

test: improve test coverage
  .gitignore
  docs/data-sources/nanoid.md
  internal/data/word_list_test.go
  internal/idgen/nanoid_test.go
  internal/idgen/proquint_test.go
  internal/idgen/random_word_test.go
  internal/idgen/seed_test.go
  internal/provider/data_source_unit_test.go
  internal/provider/helpers_test.go
  internal/provider/nanoid_data_source.go
  internal/provider/nanoid_data_source_test.go
  internal/provider/provider_unit_test.go
  internal/provider/templated_funcs_test.go
Due: go-fmt, go-vet, go-test, tfplugindocs

docs: better provider docs
  README.rst
  templates/index.md.tmpl
Due: tfplugindocs

chore: use golangci-lint-full in pre-commit
  .pre-commit-config.yaml
Due: none

chore: use gofumpt
  .golangci.yml
  internal/provider/data_source_unit_test.go
  internal/provider/templated_funcs_test.go
  main.go
Due: go-fmt, go-vet, go-test, tfplugindocs

ci: pre-release preparations
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .goreleaser.yml
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

docs: release 0.0.1
  docs/index.md
  templates/index.md.tmpl
Due: tfplugindocs

docs: changelog
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

docs: add footer to relase docs
  .goreleaser.yml
Due: none

docs: contrib guide
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: minor style
  .chglog/CHANGELOG.tpl.md
  CHANGELOG.md
Due: none

fix: correct goreleaser config
  .goreleaser.yaml
  .goreleaser.yml
  examples/templated-parametrization/main.tf
  main.go
Due: go-fmt, go-vet, go-test, tfplugindocs

fix: correct goreleaser config
  .goreleaser.yaml
Due: none

chore: release version v0.0.1
  CHANGELOG.md
Due: none

feat: review pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

fix: exclude all markdown from eof-fix
  .pre-commit-config.yaml
Due: none

fix: build .zip files, not tar.gz
  .goreleaser.yaml
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

docs: add more examples to readme
  README.rst
Due: none
