Repository iilei/terraform-provider-idgen: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-test, tfplugindocs

go-fmt:
  name: go fmt
  entry: bash -c 'output=$(go fmt ./...); if [ -n "$output" ]; then echo "Files not formatted:"; echo "$output"; exit 1; fi'
  language: system
  pass_filenames: false

go-vet:
  name: go vet
  entry: bash -c 'go vet ./... || exit 0'
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: go test -short ./...
  language: system
  pass_filenames: false

tfplugindocs:
  name: terraform-plugin-docs generate
  entry: bash -c '$(go env GOBIN)/tfplugindocs generate --provider-name idgen'
  language: system
  pass_filenames: false

docs: more meaningful examples for templated data source
  docs/data-sources/templated.md
  internal/provider/docs_embeds/templated_data_source.md
Due: none

docs: update docs
  docs/index.md
  templates/index.md.tmpl
Due: tfplugindocs

docs: minor reword on random word list design decisions
  internal/data/five_letter_words.txt
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

docs: document preflight script
  .gitignore
  README.rst
  docs/index.md
  preflight.sh
  templates/index.md.tmpl
Due: tfplugindocs

docs: minor formatting
  README.rst
  docs/index.md
  templates/index.md.tmpl
Due: tfplugindocs

refactor(seed)!: use randv2
  .github/workflows/test.yml
  CHANGELOG.md
  README.rst
  docs/index.md
  internal/idgen/nanoid.go
  internal/idgen/proquint.go
  internal/provider/nanoid_data_source.go
  internal/provider/nanoid_data_source_test.go
  internal/provider/proquint_data_source_test.go
  internal/provider/templated_data_source_test.go
  preflight.sh
  templates/index.md.tmpl
  test-provider.sh
Due: go-fmt, go-vet, go-test, tfplugindocs

docs: update changelog
  CHANGELOG.md
  docs/index.md
  templates/index.md.tmpl
Due: tfplugindocs

chore: use latest pre-commit hooks
  .editorconfig
  .pre-commit-config.yaml
  CHANGELOG.md
  cliff.toml
  mise.toml
Due: none

chore: bump all deps
  go.mod
  go.sum
Due: none

cicd: bump workflows
  .github/workflows/test.yml
Due: none

chore: add test to ensure proquint sha256 compat
  CHANGELOG.md
  internal/idgen/proquint_test.go
Due: go-fmt, go-vet, go-test

cicd: correct tf path
  .github/workflows/test.yml
Due: none

docs: scratch notes on early version
  CHANGELOG.md
  README.rst
Due: none

chore: update dependencies
  .editorconfig
  Makefile
  go.mod
  go.sum
Due: none

docs: minor rewording on ids vs secrets
  README.rst
Due: none

feat: encode sha256 via proquint_big
  CHANGELOG.md
  docs/data-sources/proquint_big.md
  docs/index.md
  examples/proquint-big-sha256/README.md
  examples/proquint-big-sha256/main.tf
  internal/idgen/proquint.go
  internal/idgen/proquint_test.go
  internal/idgen/seed.go
  internal/idgen/seed_test.go
  internal/provider/proquint_big_data_source.go
  internal/provider/proquint_big_data_source_test.go
  internal/provider/proquint_data_source.go
  internal/provider/proquint_data_source_test.go
  internal/provider/provider.go
  internal/provider/provider_unit_test.go
  internal/provider/templated_data_source.go
  mise.toml
  preflight.sh
  templates/index.md.tmpl
  test-provider.sh
Due: go-fmt, go-vet, go-test, tfplugindocs

chore: bump pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: update documented version
  CHANGELOG.md
  docs/index.md
  examples/proquint-big-sha256/main.tf
  templates/index.md.tmpl
Due: tfplugindocs

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-test: any of: \.go$
  tfplugindocs: any of: (internal/provider/.*\.go|examples/.*|templates/.*)
